@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: block;
}

html,
body {
    height: 100%;
    background-color: #f2f2f2;
}

.welcome-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .welcome-sub-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50px;
        border: 3px solid #fe9403;
        background-color: #23303e;
        padding: 3rem;

        h1 {
            text-align: center;
            font-size: 3rem;
            margin: 0 0 2rem 0;
        }

        h3 {
            color: #fe9403;
            margin: 0 0 2rem 0;
            font-weight: 500;
        }

        .button-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        input {
            width: 350px;
            height: 40px;
            border-radius: 10px;
            border: 0;
            padding-left: 10px;
            margin-bottom: 2rem;
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    margin: 0 10px;
    border-radius: 7px;
    border: 0;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f2f2f2;
    text-decoration: none;
    color: black;

    &:hover {
        background-color: #bfbfbf;
    }
}

.errors-container {
    margin-bottom: 2rem;
    text-align: center;
    list-style-type: none;

    li {
        list-style-type: none;
    }
}

.target-price-label {
    position: absolute;
    margin-left: -18px;
    margin-top: 8px;
    color: white;
    font-size: 1.25rem;
}

.header {
    width: 100%;
    // max-width: 1300px;
    padding: 0 calc((100vw - 1300px) / 2);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #23303e;
    border-bottom: 3px solid #fe9403;
    color: white;

    h1 {
        margin-left: 35px;
        font-weight: 600;
    }

    .sign-out-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 35px;

        p {
            margin-bottom: 10px;
        }

        .sign-out {
            text-decoration: none;
            color: #23303e;
            background-color: #f2f2f2;
            border-radius: 7px;
            padding: 4px 5px;
        }
    }
}
